<mat-toolbar color="primary"  style="justify-content:center;align-items:center;">
  <mat-toolbar-row>
    <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <button mat-icon-button routerLink="/"><mat-icon>home</mat-icon></button>
  <span class="fill-space"></span>
  <button mat-icon-button (click)="addTask()" [disableRipple]="true" class="w3-margin-right">
    <mat-icon >add_circle</mat-icon>
  </button>
  <!-- <form class="w3-margin-top" novalidate [formGroup]="searchForm">
    <mat-form-field  appearance="fill" >
      <mat-icon matPrefix>search</mat-icon>
      <input style="padding-bottom: 5px;" matInput  formControlName="text" placeholder="Search" type="text">
    </mat-form-field>
</form> -->
  </mat-toolbar-row>
  
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav [opened]="screenWidth > 950" [mode]="(screenWidth > 950) ? 'side' : 'over'"  fullscreen >
      <img src="assets/images/chandler.jpg" class="w3-circle w3-margin-top" style="width:66px;margin-right: auto; margin-left: auto; display: block;"><br>
      <p style="text-align: center;">Hello, <strong>{{currentUser}} !</strong></p>
      <hr>
      <mat-nav-list>
        <a mat-list-item  routerLinkActive="active" routerLink="/Today" ><mat-icon>today</mat-icon><span [matBadge]="count" matBadgeOverlap="false">Today</span></a>
        <a mat-list-item routerLinkActive="active" routerLink="/Upcoming"><mat-icon>calendar_today</mat-icon>Upcoming</a>
        <a mat-list-item routerLinkActive="active" routerLink="/Archived"><mat-icon>archive</mat-icon>Archived</a>
      </mat-nav-list>
      <hr>
      <form [formGroup]="labelForm" class="w3-margin-left w3-margin-right">
        <mat-form-field>
          <mat-label>Add Task Label</mat-label>
          <input matInput formControlName="label">
          <button mat-icon-button matSuffix class="w3-xlarge" (click)="addLabel()" [disabled]="checkLabel">
            <mat-icon>library_add</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <mat-nav-list>
        <a mat-list-item (click)="confirmLogout()"><mat-icon>exit_to_app</mat-icon>Logout</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet (activate)="onActivate($event)" ></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
